{% extends "index.twig" %}
{% block pageHeader %}
<h1>Properties Management Console</h1>
{% endblock %}

{% block content %}

<a href="{{ addUrl }}" >Add a new Property</a>
{% for p in properties %}
<div class="property">
    <h2>{{ p.name|e }}</h2>
    <p>
        {{ p.city|e }}, {{ p.state|e }}<br>
        {{ p.type|e }}
    </p>
    <p>
        {{ p.description|e }}
    </p>
    <p>
        <strong>Financed for: </strong>{{ p.amountFinanced|number_format }}
    </p>
    <img src="{{ imagesPath ~ "/" ~ p.image.thumbnailName }}" alt="{{ p.name }} thumbnail" /><br>
    <a href="edit/{{ p.id }}">Edit</a>
    <form method="post" action="delete/{{ p.id }}">
        <input type="hidden" name="_METHOD" value="DELETE"/>
        <input type="submit" value="Delete"/>
    </form>
</div>
{% endfor %}
{% endblock %}