{% for p in properties %}
<div class="listing {{ p.type|lower|replace({' ': ''}) }}">
    <a class="lightbox-link" href="#property-{{ p.id }}">
        <img src="{{ imageSettings.path ~ "/" ~ p.image.thumbnailName }}" alt="{{ p.name }} thumbnail">
    </a>
    <p class="name">{{ p.name|e }}</p>
    <p class="city">{{ p.city|e }}</p>
    <p class="state">{{ p.state|e }}</p>
    <p class="amount">${{ p.amountFinanced|number_format }}</p>
    <p class="type">{{ p.type|e }}</p>
    <a class="moreDetails lightbox-link" href="#property-{{ p.id }}">
        More Details
        <span>
            <!--Button Replacement-->
        </span>
    </a>
</div>
<div id="property-{{ p.id }}" class="propertiesPop" style="display: none">
    <a href="#">
	<img src="{{ imageSettings.path ~ "/" ~ p.image.name }}" alt="{{ p.name }}">
    </a>
    <p class="name">{{ p.name|e }}</p>
    <p class="location"><span>Location: </span>{{ p.city ~ ", " ~ p.state|e }}</p>
    <p class="amount"><span>Financed: </span>${{ p.amountFinanced|number_format }}</p>
    <p class="type"><span>Type: </span>{{ p.type|e }}</p>
    <p class="date"><span>Closed On: </span>{{ p.closingDate }}</p>
    <p class="description">
        <span>Description:</span><br>
        {{ p.description }}
    </p>
    <p class="closeBox">[CLOSE]</p>
</div>
{% endfor %}
