<div id="banner-fade">
    <ul class="bjqs">
        {% for p in properties %}
        <li id="slide-{{ loop.index }}">
            <img src="{{ imagesPath ~ "/" ~ p.image.name }}" alt="{{ p.name }}" />
            <div>
                <h2>{{ p.name|e }}</h2>
                <p>{{ p.city|e }}, {{ p.state|e }} {{ p.zip }}</p>
                <p><span>Financing</span><br/>Amount ${{ p.amountFinanced|number_format }}</p>
                <p><span>Closed</span><br/>{{ property.closingDate|date("m/d/Y") }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="clearfix"></div>
</div>
<div class="slideDeck">
    <p id="title">FEATURED FINANCINGS</p>
{% for p in properties %}
    <div class="onDeck">
        <a id="slide-{{ loop.index }}-thumb" class="first" href="#">
            <img class="thumbnailSlide" src="{{ imagesPath ~ "/" ~ p.image.thumbnailName }}" alt="{{ p.name }} thumbnail">
            <p class="">{{ p.name|e }}</p>
            <p class="">Financed ${{ p.amountFinanced|number_format }}</p>
            <p class="">Closed {{ property.closingDate|date("m/d/Y") }}</p>
            <span class=""></span>
        </a>
        <div class="clearfix"></div>
    </div>
{% endfor %}
    <a id="seeAll" href="/msf/properties/">See all Financings</a>
</div>