{% for p in properties %}
<div class="listing">
    <a href="#">
        <img src="{{ imagesPath ~ "/" ~ p.image.thumbnailName }}" alt="{{ p.name }} thumbnail">
    </a>
    <p class="name">{{ p.name|e }}</p>
    <p class="city">{{ p.city|e }}</p>
    <p class="state">{{ p.state|e }}</p>
    <p class="amount">${{ p.amountFinanced|number_format }}</p>
    <p class="type">{{ p.type|e }}</p>
    <a class="moreDetails" href="#">
        More Details
        <span>
            <!--Button Replacement-->
        </span>
    </a>
</div>
{% endfor %}
<!-- POP UP BOX DIV -->
<div class="propertiesPop">
    <a href="#"><img src="images/image_600x320.jpg"></a>
    <p class="name">Name</p>
    <!-- City and State go on the same line, divided by a comma -->
    <p class="city">City</p>
    <p class="state">State</p>
    <p class="amount">$XXX,XXX</p>
    <!-- type of proerty listed - page is to be filtered by this type, this should be a drop down in the add a new property feature -->
    <p class="type">Type</p>
    <!-- this is only to be shown when the user clikcs on the more info button-->
    <p class="date">Closing Date</p>
    <!-- this is only to be shown when the user clikcs on the more info button -->
    <p class="description"><span>Description:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
</div>
<!-- END OF POP UP BOX DIV -->